services:
  langchain:
    container_name: langchain
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000"
    environment:
      - OLLAMA_BASE_URL=http://ollama:11434  # Critical: points to the Ollama service by hostname
    depends_on:
      - ollama  # Ensures Ollama starts first
    networks:
      - proxy
    volumes:
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.langchain.rule=Host(`${LANGCHAIN_DOMAIN}`)"
      - "traefik.http.routers.langchain.entrypoints=websecure"
      - "traefik.http.routers.langchain.tls=true"
      - "traefik.http.routers.langchain.tls.certresolver=le"

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    environment:
      - OLLAMA_NUM_PARALLEL=1  # Reduced from 2
      - OLLAMA_MAX_LOADED_MODELS=1
      - OLLAMA_KEEP_ALIVE=60s
    ports:
      - "11434:11434"
    networks:
      - proxy
    volumes:
      - ollama_data:/root/.ollama
      - /etc/ollama/model_files:/model_files  # Mount a directory for custom scripts and Modelfiles
    tty: true
    #mem_limit: 8G        # Hard limit on physical RAM
    #memswap_limit: -1    # Total limit (RAM + Swap)

    restart: unless-stopped
    entrypoint: ["/bin/sh", "/model_files/run_ollama.sh"]  # Custom script to run on start
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ollama.rule=Host(`${OLLAMA_DOMAIN}`)"
      - "traefik.http.routers.ollama.entrypoints=websecure"
      - "traefik.http.routers.ollama.tls=true"
      - "traefik.http.routers.ollama.tls.certresolver=le"

  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    volumes:
      - open-webui_data:/app/backend/data
    depends_on:
      - ollama
    ports:
      - "3000:8080"
    networks:
      - proxy
    environment:
      - "OLLAMA_BASE_URL=${OLLAMA_BASE_URL}"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.open-webui.rule=Host(`${OPEN_WEBUI_DOMAIN}`)"
      - "traefik.http.routers.open-webui.entrypoints=websecure"
      - "traefik.http.routers.open-webui.tls=true"
      - "traefik.http.routers.open-webui.tls.certresolver=le"

volumes:
  ollama_data:
  open-webui_data:

networks:
  proxy:
    name: proxy
    external: true
