services:
  langchain:
    container_name: langchain
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "8000"
    networks:
      - proxy
    volumes:
      - chroma_db:/chroma_db
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ai-agent-langchain.rule=Host(`${LANGCHAIN_DOMAIN}`)"
      - "traefik.http.routers.ai-agent-langchain.entrypoints=websecure"
      - "traefik.http.routers.ai-agent-langchain.tls=true"
      - "traefik.http.routers.ai-agent-langchain.tls.certresolver=le"

networks:
  proxy:
    name: proxy
    external: true

volumes:
  chroma_db:
    driver: local
