langchain
langchain-community
langchain-chroma
langchain-text-splitters
langchain-huggingface
sentence-transformers
langchain-groq
tavily-python
chromadb
fastapi
uvicorn[standard]
python-dotenv
openpyxl
