
/* Importing @ngxpert/hot-toast SCSS file. */
@use '@ngxpert/hot-toast/styles';
@import "primeicons/primeicons.css";


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Nunito', sans-serif;
}


@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }

  .animate-slide-in-right {
    animation: slideInRight 0.6s ease-out;
  }


  .animate-slide-in-left {
    animation: slideInLeft 0.6s ease-out;
  }

  .text-shadow-lg {
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
