# docker-compose.yml


services:
  nest-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nest-app
    ports:
      - '3000'
    env_file:
      - .env  # Path relative to the docker-compose.yml file
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.core-backend-nest-app.rule=Host(`${NEST_APP_DOMAIN}`)"
      - "traefik.http.routers.core-backend-nest-app.entrypoints=websecure"
      - "traefik.http.routers.core-backend-nest-app.tls=true"
      - "traefik.http.routers.core-backend-nest-app.tls.certresolver=le"
     command: ["node", "dist/src/main.js"]
networks:
  proxy:
    name: proxy
    external: true
