# docker-compose.yml


services:
  nest-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nest-app
    environment:
      - PORT=3000
    ports:
      - '3000'
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.core-backend-nest-app.rule=Host(`${NEST_APP_DOMAIN}`)"
      - "traefik.http.routers.core-backend-nest-app.entrypoints=websecure"
      - "traefik.http.routers.core-backend-nest-app.tls=true"
      - "traefik.http.routers.core-backend-nest-app.tls.certresolver=le"

networks:
  proxy:
    name: proxy
    external: true
